* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'poppins', sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #1d1d6b;
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #2d0f5e;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #9393bc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.delete-btn,
.edit-btn {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .container {
      max-width: 600px;
    }
}